.show-grid [class^="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
	height: 70px;
}

.avatar img {
	height:50px;
}
.user-details {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.user-details.active{
	visibility: visible;
  	opacity: 1;
  	padding: 10px 0;
}

.user-details .title {
	font-weight: bold;	
}

.user-details p {
	display: inline-block;
}

.hidden {
	display: none;
}
